* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.container {
  width: 100%;
  background: rgba(245, 245, 245, 1);
  opacity: 1;
  top: 0px;
  left: 0px;
}
.v6_59 {
  width: 100%;
  height: 1117px;
  background: url("../images/v6_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.big__logo {
  width: 975px;
  height: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.logo_polikam--link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.v6_61 {
  width: 377px;
  height: 24px;
  background: url("../images/v6_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 422px;
  overflow: hidden;
}

.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v13_951 {
  width: 100%;
  height: 1117px;
  background: rgba(245, 245, 245, 1);
  opacity: 1;
  position: absolute;
  top: 1167px;
  left: 0px;
  overflow: hidden;
}
.v13_949 {
  width: 100%;
  height: 1366px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 522px;
  left: 2227px;
  overflow: hidden;
}
.v13_950 {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 213, 104, 1), rgba(255, 136, 32, 1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v11_948 {
  width: 992px;
  height: 577px;
  background: url("../images/v11_948.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 305px;
  left: 713px;
  overflow: hidden;
}
.v13_952 {
  width: 417px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v18_1066 {
  width: 776px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 178px;
  left: 50px;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_961 {
  width: 45px;
  height: 72px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 557px;
  left: 133px;
}
.v13_963 {
  width: 235px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 571px;
  left: 258px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_981 {
  width: 80px;
  height: 80px;
  background: url("../images/v13_981.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 679px;
  left: 119px;
  overflow: hidden;
}
.v13_982 {
  width: 80px;
  height: 80px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v13_983 {
  width: 35px;
  height: 35px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 20px;
}
.v13_987 {
  width: 140px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 697px;
  left: 259px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_995 {
  width: 75px;
  height: 75px;
  background: url("../images/v13_995.png");
  opacity: 1;
  position: absolute;
  top: 809px;
  left: 122px;
  border: 4px solid rgba(231, 148, 35, 1);
}
.v13_997 {
  width: 148px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 825px;
  left: 259px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_1005 {
  width: 75px;
  height: 50px;
  background: url("../images/v13_1005.png");
  opacity: 1;
  position: absolute;
  top: 934px;
  left: 122px;
  border: 3px solid rgba(231, 148, 35, 1);
}
.v13_1007 {
  width: 140px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 938px;
  left: 259px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_953 {
  width: 80px;
  height: 48px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 458px;
  left: 119px;
}
.v13_1008 {
  width: 182px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 460px;
  left: 259px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v15_1009 {
  width: 366px;
  height: 92px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1312px;
  overflow: hidden;
}
.v15_1010 {
  width: 0px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 224px;
}
.v15_1011 {
  width: 7px;
  height: 9px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 227px;
}
.v15_1012 {
  width: 3px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 238px;
}
.v15_1013 {
  width: 0px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 244px;
}
.v15_1014 {
  width: 7px;
  height: 9px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 247px;
}
.v15_1015 {
  width: 0px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 258px;
}
.v15_1016 {
  width: 5px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 260px;
}
.v15_1017 {
  width: 6px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 266px;
}
.v15_1018 {
  width: 8px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 278px;
}
.v15_1019 {
  width: 3px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 289px;
}
.v15_1020 {
  width: 5px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 298px;
}
.v15_1021 {
  width: 8px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 305px;
}
.v15_1022 {
  width: 3px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 316px;
}
.v15_1023 {
  width: 5px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 321px;
}
.v15_1024 {
  width: 5px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 329px;
}
.v15_1025 {
  width: 0px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 336px;
}
.v15_1026 {
  width: 8px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 339px;
}
.v15_1027 {
  width: 7px;
  height: 9px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 350px;
}
.v15_1028 {
  width: 5px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 360px;
}
.v15_1029 {
  width: 269px;
  height: 31px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 96px;
}
.v15_1030 {
  width: 32px;
  height: 32px;
  background: url("../images/v15_1030.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 20px;
  overflow: hidden;
}
.v15_1031 {
  width: 32px;
  height: 32px;
  background: url("../images/v15_1031.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_1032 {
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v15_1033 {
  width: 35px;
  height: 35px;
  background: url("../images/v15_1033.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v15_1034 {
  width: 34px;
  height: 34px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  transform: rotate(-87deg);
}
.v15_1035 {
  width: 37px;
  height: 37px;
  background: url("../images/v15_1035.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 45px;
  overflow: hidden;
}
.v15_1036 {
  width: 37px;
  height: 37px;
  background: url("../images/v15_1036.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_1037 {
  width: 37px;
  height: 37px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v15_1038 {
  width: 68px;
  height: 67px;
  background: url("../images/v15_1038.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v15_1039 {
  width: 50px;
  height: 50px;
  background: linear-gradient(rgba(175, 176, 178, 1), rgba(89, 90, 92, 1));
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  transform: rotate(-27deg);
}
.v15_1040 {
  width: 32px;
  height: 32px;
  background: url("../images/v15_1040.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 41px;
  overflow: hidden;
}
.v15_1041 {
  width: 32px;
  height: 32px;
  background: url("../images/v15_1041.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_1042 {
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v15_1043 {
  width: 64px;
  height: 64px;
  background: url("../images/v15_1043.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v15_1044 {
  width: 45px;
  height: 45px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  transform: rotate(-36deg);
}
.v15_1045 {
  width: 37px;
  height: 34px;
  background: url("../images/v15_1045.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 12px;
  overflow: hidden;
}
.v15_1046 {
  width: 37px;
  height: 34px;
  background: url("../images/v15_1046.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_1047 {
  width: 37px;
  height: 34px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v15_1048 {
  width: 62px;
  height: 61px;
  background: url("../images/v15_1048.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 13px;
  overflow: hidden;
}
.v15_1049 {
  width: 46px;
  height: 47px;
  background: linear-gradient(rgba(175, 176, 178, 1), rgba(89, 90, 92, 1));
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 0px;
  transform: rotate(-67deg);
}
.v15_1050 {
  width: 70px;
  height: 61px;
  background: url("../images/v15_1050.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 12px;
  overflow: hidden;
}
.v15_1051 {
  width: 70px;
  height: 61px;
  background: url("../images/v15_1051.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_1052 {
  width: 70px;
  height: 61px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v15_1053 {
  width: 70px;
  height: 61px;
  background: url("../images/v15_1053.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_1054 {
  width: 70px;
  height: 61px;
  background: linear-gradient(rgba(89, 90, 92, 1), rgba(152, 154, 157, 1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v15_1055 {
  width: 54px;
  height: 61px;
  background: url("../images/v15_1055.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 20px;
  overflow: hidden;
}
.v15_1056 {
  width: 54px;
  height: 61px;
  background: url("../images/v15_1056.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_1057 {
  width: 54px;
  height: 61px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v15_1058 {
  width: 54px;
  height: 61px;
  background: url("../images/v15_1058.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_1059 {
  width: 54px;
  height: 61px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_1072 {
  width: 100%;
  height: 1188px;
  background: url("../images/v18_1072.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2334px;
  left: 0px;
  overflow: hidden;
}
.v18_1068 {
  width: 885px;
  height: 421px;
  background: linear-gradient(rgba(255, 213, 104, 1), rgba(255, 136, 32, 1));
  opacity: 1;
  position: absolute;
  top: 1201px;
  left: 2034px;
  transform: rotate(-178deg);
}
.v18_1069 {
  width: 197px;
  height: 193px;
  background: linear-gradient(rgba(255, 213, 104, 1), rgba(255, 136, 32, 1));
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 1396px;
  transform: rotate(-40deg);
}
.v18_1070 {
  width: 355px;
  height: 347px;
  background: linear-gradient(rgba(255, 213, 104, 1), rgba(255, 136, 32, 1));
  opacity: 1;
  position: absolute;
  top: 101px;
  left: 56px;
}
.v18_1071 {
  width: 258px;
  height: 253px;
  background: linear-gradient(rgba(255, 213, 104, 1), rgba(255, 136, 32, 1));
  opacity: 1;
  position: absolute;
  top: 927px;
  left: 125px;
}
.v19_1073 {
  width: 995px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 112px;
  left: 366px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 55px;
  opacity: 1;
  text-align: center;
}
.v20_1154 {
  width: 366px;
  height: 92px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1008px;
  left: 681px;
  overflow: hidden;
}
.v20_1155 {
  width: 0px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 224px;
}
.v20_1156 {
  width: 7px;
  height: 9px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 227px;
}
.v20_1157 {
  width: 3px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 238px;
}
.v20_1158 {
  width: 0px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 244px;
}
.v20_1159 {
  width: 7px;
  height: 9px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 247px;
}
.v20_1160 {
  width: 0px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 258px;
}
.v20_1161 {
  width: 5px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 260px;
}
.v20_1162 {
  width: 6px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 266px;
}
.v20_1163 {
  width: 8px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 278px;
}
.v20_1164 {
  width: 3px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 289px;
}
.v20_1165 {
  width: 5px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 298px;
}
.v20_1166 {
  width: 8px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 305px;
}
.v20_1167 {
  width: 3px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 316px;
}
.v20_1168 {
  width: 5px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 321px;
}
.v20_1169 {
  width: 5px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 329px;
}
.v20_1170 {
  width: 0px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 336px;
}
.v20_1171 {
  width: 8px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 339px;
}
.v20_1172 {
  width: 7px;
  height: 9px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 350px;
}
.v20_1173 {
  width: 5px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 360px;
}
.v20_1174 {
  width: 269px;
  height: 31px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 97px;
}
.v20_1175 {
  width: 32px;
  height: 32px;
  background: url("../images/v20_1175.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 21px;
  overflow: hidden;
}
.v20_1176 {
  width: 32px;
  height: 32px;
  background: url("../images/v20_1176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1177 {
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1178 {
  width: 35px;
  height: 35px;
  background: url("../images/v20_1178.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  overflow: hidden;
}
.v20_1179 {
  width: 34px;
  height: 34px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
  transform: rotate(-87deg);
}
.v20_1180 {
  width: 37px;
  height: 37px;
  background: url("../images/v20_1180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 46px;
  overflow: hidden;
}
.v20_1181 {
  width: 37px;
  height: 37px;
  background: url("../images/v20_1181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1182 {
  width: 37px;
  height: 37px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1183 {
  width: 68px;
  height: 67px;
  background: url("../images/v20_1183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 15px;
  overflow: hidden;
}
.v20_1184 {
  width: 50px;
  height: 50px;
  background: linear-gradient(rgba(175, 176, 178, 1), rgba(89, 90, 92, 1));
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  transform: rotate(-27deg);
}
.v20_1185 {
  width: 32px;
  height: 32px;
  background: url("../images/v20_1185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 42px;
  overflow: hidden;
}
.v20_1186 {
  width: 32px;
  height: 32px;
  background: url("../images/v20_1186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1187 {
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1188 {
  width: 64px;
  height: 64px;
  background: url("../images/v20_1188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 15px;
  overflow: hidden;
}
.v20_1189 {
  width: 45px;
  height: 45px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  transform: rotate(-36deg);
}
.v20_1190 {
  width: 37px;
  height: 34px;
  background: url("../images/v20_1190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 13px;
  overflow: hidden;
}
.v20_1191 {
  width: 37px;
  height: 34px;
  background: url("../images/v20_1191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1192 {
  width: 37px;
  height: 34px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1193 {
  width: 62px;
  height: 61px;
  background: url("../images/v20_1193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 12px;
  overflow: hidden;
}
.v20_1194 {
  width: 46px;
  height: 47px;
  background: linear-gradient(rgba(175, 176, 178, 1), rgba(89, 90, 92, 1));
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 0px;
  transform: rotate(-67deg);
}
.v20_1195 {
  width: 70px;
  height: 61px;
  background: url("../images/v20_1195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 13px;
  overflow: hidden;
}
.v20_1196 {
  width: 70px;
  height: 61px;
  background: url("../images/v20_1196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1197 {
  width: 70px;
  height: 61px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1198 {
  width: 70px;
  height: 61px;
  background: url("../images/v20_1198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1199 {
  width: 70px;
  height: 61px;
  background: linear-gradient(rgba(89, 90, 92, 1), rgba(152, 154, 157, 1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1200 {
  width: 54px;
  height: 61px;
  background: url("../images/v20_1200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 21px;
  overflow: hidden;
}
.v20_1201 {
  width: 54px;
  height: 61px;
  background: url("../images/v20_1201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1202 {
  width: 54px;
  height: 61px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1203 {
  width: 54px;
  height: 61px;
  background: url("../images/v20_1203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v20_1204 {
  width: 54px;
  height: 61px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_1076 {
  width: 256px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 346px;
  left: 347px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v19_1084 {
  width: 63px;
  height: 60px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 477px;
  left: 191px;
}
.v19_1086 {
  width: 470px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 472px;
  left: 290px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v19_1094 {
  width: 58px;
  height: 56px;
  background: url("../images/v19_1094.png");
  opacity: 1;
  position: absolute;
  top: 629px;
  left: 194px;
  border: 4px solid rgba(231, 148, 35, 1);
}
.v19_1096 {
  width: 470px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 622px;
  left: 287px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v19_1104 {
  width: 60px;
  height: 53px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 781px;
  left: 193px;
  border: 2px solid rgba(231, 148, 35, 1);
}
.v19_1106 {
  width: 470px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 772px;
  left: 288px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v19_1108 {
  width: 598px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 344px;
  left: 939px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v19_1126 {
  width: 67px;
  height: 67px;
  background: url("../images/v19_1126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 954px;
  overflow: hidden;
}
.v19_1127 {
  width: 67px;
  height: 67px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_1128 {
  width: 45px;
  height: 29px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 12px;
}
.v19_1132 {
  width: 465px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 470px;
  left: 1056px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v19_1140 {
  width: 75px;
  height: 59px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 626px;
  left: 950px;
}
.v19_1142 {
  width: 465px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 620px;
  left: 1060px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v19_1150 {
  width: 61px;
  height: 68px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 967px;
}
.v19_1152 {
  width: 445px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 786px;
  left: 1064px;
  font-family: Josefin Sans;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v21_1349 {
  width: 100%;
  height: 1065px;
  background: rgba(245, 245, 245, 1);
  opacity: 1;
  position: absolute;
  top: 3572px;
  left: 0px;
  overflow: hidden;
}
.v21_1353 {
  width: 880px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_1354 {
  width: 776px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 178px;
  left: 50px;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v21_1373 {
  width: 442px;
  height: 111px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 1227px;
  overflow: hidden;
}
.v21_1374 {
  width: 1px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 270px;
}
.v21_1375 {
  width: 9px;
  height: 11px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 275px;
}
.v21_1376 {
  width: 4px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 287px;
}
.v21_1377 {
  width: 1px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 294px;
}
.v21_1378 {
  width: 9px;
  height: 11px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 299px;
}
.v21_1379 {
  width: 1px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 311px;
}
.v21_1380 {
  width: 6px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 315px;
}
.v21_1381 {
  width: 7px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 322px;
}
.v21_1382 {
  width: 10px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 335px;
}
.v21_1383 {
  width: 4px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 349px;
}
.v21_1384 {
  width: 6px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 360px;
}
.v21_1385 {
  width: 10px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 368px;
}
.v21_1386 {
  width: 3px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 382px;
}
.v21_1387 {
  width: 7px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 388px;
}
.v21_1388 {
  width: 6px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 398px;
}
.v21_1389 {
  width: 1px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 406px;
}
.v21_1390 {
  width: 10px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 410px;
}
.v21_1391 {
  width: 9px;
  height: 11px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 423px;
}
.v21_1392 {
  width: 6px;
  height: 10px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 435px;
}
.v21_1393 {
  width: 325px;
  height: 38px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 116px;
}
.v21_1394 {
  width: 39px;
  height: 39px;
  background: url("../images/v21_1394.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 24px;
  overflow: hidden;
}
.v21_1395 {
  width: 39px;
  height: 39px;
  background: url("../images/v21_1395.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_1396 {
  width: 39px;
  height: 39px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v21_1397 {
  width: 43px;
  height: 42px;
  background: url("../images/v21_1397.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  overflow: hidden;
}
.v21_1398 {
  width: 41px;
  height: 41px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 0px;
  transform: rotate(-87deg);
}
.v21_1399 {
  width: 45px;
  height: 44px;
  background: url("../images/v21_1399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 54px;
  overflow: hidden;
}
.v21_1400 {
  width: 45px;
  height: 44px;
  background: url("../images/v21_1400.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_1401 {
  width: 45px;
  height: 44px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v21_1402 {
  width: 82px;
  height: 81px;
  background: url("../images/v21_1402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 19px;
  overflow: hidden;
}
.v21_1403 {
  width: 60px;
  height: 60px;
  background: linear-gradient(rgba(175, 176, 178, 1), rgba(89, 90, 92, 1));
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  transform: rotate(-27deg);
}
.v21_1404 {
  width: 39px;
  height: 39px;
  background: url("../images/v21_1404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 50px;
  overflow: hidden;
}
.v21_1405 {
  width: 39px;
  height: 39px;
  background: url("../images/v21_1405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_1406 {
  width: 39px;
  height: 39px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v21_1407 {
  width: 77px;
  height: 77px;
  background: url("../images/v21_1407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 19px;
  overflow: hidden;
}
.v21_1408 {
  width: 55px;
  height: 55px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  transform: rotate(-36deg);
}
.v21_1409 {
  width: 45px;
  height: 42px;
  background: url("../images/v21_1409.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 14px;
  overflow: hidden;
}
.v21_1410 {
  width: 45px;
  height: 42px;
  background: url("../images/v21_1410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_1411 {
  width: 45px;
  height: 42px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v21_1412 {
  width: 74px;
  height: 73px;
  background: url("../images/v21_1412.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 15px;
  overflow: hidden;
}
.v21_1413 {
  width: 56px;
  height: 57px;
  background: linear-gradient(rgba(175, 176, 178, 1), rgba(89, 90, 92, 1));
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 0px;
  transform: rotate(-67deg);
}
.v21_1414 {
  width: 84px;
  height: 73px;
  background: url("../images/v21_1414.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 14px;
  overflow: hidden;
}
.v21_1415 {
  width: 84px;
  height: 73px;
  background: url("../images/v21_1415.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_1416 {
  width: 84px;
  height: 73px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v21_1417 {
  width: 84px;
  height: 73px;
  background: url("../images/v21_1417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_1418 {
  width: 84px;
  height: 73px;
  background: linear-gradient(rgba(89, 90, 92, 1), rgba(152, 154, 157, 1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v21_1419 {
  width: 65px;
  height: 74px;
  background: url("../images/v21_1419.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 24px;
  overflow: hidden;
}
.v21_1420 {
  width: 65px;
  height: 74px;
  background: url("../images/v21_1420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_1421 {
  width: 65px;
  height: 74px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v21_1422 {
  width: 65px;
  height: 74px;
  background: url("../images/v21_1422.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_1423 {
  width: 65px;
  height: 74px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v21_1486 {
  width: 100%;
  height: 640px;
  background: url("../images/v21_1486.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 0px;
  overflow: hidden;
}
.v21_1487 {
  width: 495px;
  height: 640px;
  background: url("../images/v21_1487.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 1233px;
  overflow: hidden;
}
.v21_1543 {
  width: 40px;
  height: 40px;
  background: rgba(213, 213, 213, 1);
  opacity: 1;
  position: absolute;
  top: 1010px;
  left: 809px;
  border-radius: 50%;
}
.v21_1545 {
  width: 40px;
  height: 40px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 990px;
  left: 739px;
  border-radius: 50%;
}
.v21_1544 {
  width: 40px;
  height: 40px;
  background: rgba(213, 213, 213, 1);
  opacity: 1;
  position: absolute;
  top: 1010px;
  left: 879px;
  border-radius: 50%;
}
.v21_2150 {
  width: 40px;
  height: 40px;
  background: rgba(213, 213, 213, 1);
  opacity: 1;
  position: absolute;
  top: 1010px;
  left: 949px;
  border-radius: 50%;
}
.v21_2173 {
  width: 60px;
  height: 60px;
  background: url("../images/v21_2173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 616px;
  left: 1653px;
  overflow: hidden;
}
.v21_2170 {
  width: 60px;
  height: 60px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v21_2172 {
  width: 15px;
  height: 26px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 22px;
}
.v21_2174 {
  width: 60px;
  height: 60px;
  background: url("../images/v21_2174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 616px;
  left: 75px;
  overflow: hidden;
}
.v21_2175 {
  width: 60px;
  height: 60px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v21_2176 {
  width: 15px;
  height: 26px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 23px;
}
.v21_2201 {
  width: 100%;
  height: 150px;
  background: url("../images/v21_2201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4687px;
  left: 0px;
  overflow: hidden;
}
.v20_1215 {
  width: 322px;
  height: 81px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 60px;
  overflow: hidden;
}
.v20_1216 {
  width: 0px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 198px;
}
.v20_1217 {
  width: 6px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 201px;
}
.v20_1218 {
  width: 3px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 210px;
}
.v20_1219 {
  width: 0px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 215px;
}
.v20_1220 {
  width: 6px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 219px;
}
.v20_1221 {
  width: 0px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 228px;
}
.v20_1222 {
  width: 4px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 230px;
}
.v20_1223 {
  width: 5px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 235px;
}
.v20_1224 {
  width: 7px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 245px;
}
.v20_1225 {
  width: 3px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 255px;
}
.v20_1226 {
  width: 4px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 263px;
}
.v20_1227 {
  width: 7px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 269px;
}
.v20_1228 {
  width: 2px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 279px;
}
.v20_1229 {
  width: 5px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 284px;
}
.v20_1230 {
  width: 4px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 290px;
}
.v20_1231 {
  width: 0px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 297px;
}
.v20_1232 {
  width: 7px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 299px;
}
.v20_1233 {
  width: 6px;
  height: 8px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 309px;
}
.v20_1234 {
  width: 4px;
  height: 7px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 318px;
}
.v20_1235 {
  width: 237px;
  height: 27px;
  background: rgba(89, 88, 90, 1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 85px;
}
.v20_1236 {
  width: 28px;
  height: 28px;
  background: url("../images/v20_1236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 19px;
  overflow: hidden;
}
.v20_1237 {
  width: 28px;
  height: 28px;
  background: url("../images/v20_1237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1238 {
  width: 28px;
  height: 28px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1239 {
  width: 31px;
  height: 31px;
  background: url("../images/v20_1239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  overflow: hidden;
}
.v20_1240 {
  width: 30px;
  height: 30px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
  transform: rotate(-87deg);
}
.v20_1241 {
  width: 32px;
  height: 32px;
  background: url("../images/v20_1241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 40px;
  overflow: hidden;
}
.v20_1242 {
  width: 32px;
  height: 32px;
  background: url("../images/v20_1242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1243 {
  width: 32px;
  height: 32px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1244 {
  width: 60px;
  height: 59px;
  background: url("../images/v20_1244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 13px;
  overflow: hidden;
}
.v20_1245 {
  width: 44px;
  height: 44px;
  background: linear-gradient(rgba(175, 176, 178, 1), rgba(89, 90, 92, 1));
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 0px;
  transform: rotate(-27deg);
}
.v20_1246 {
  width: 28px;
  height: 28px;
  background: url("../images/v20_1246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 37px;
  overflow: hidden;
}
.v20_1247 {
  width: 28px;
  height: 28px;
  background: url("../images/v20_1247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1248 {
  width: 28px;
  height: 28px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1249 {
  width: 56px;
  height: 56px;
  background: url("../images/v20_1249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 13px;
  overflow: hidden;
}
.v20_1250 {
  width: 40px;
  height: 40px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  transform: rotate(-36deg);
}
.v20_1251 {
  width: 32px;
  height: 30px;
  background: url("../images/v20_1251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 11px;
  overflow: hidden;
}
.v20_1252 {
  width: 32px;
  height: 30px;
  background: url("../images/v20_1252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1253 {
  width: 32px;
  height: 30px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1254 {
  width: 54px;
  height: 53px;
  background: url("../images/v20_1254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 10px;
  overflow: hidden;
}
.v20_1255 {
  width: 40px;
  height: 42px;
  background: linear-gradient(rgba(175, 176, 178, 1), rgba(89, 90, 92, 1));
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  transform: rotate(-67deg);
}
.v20_1256 {
  width: 61px;
  height: 53px;
  background: url("../images/v20_1256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 11px;
  overflow: hidden;
}
.v20_1257 {
  width: 61px;
  height: 53px;
  background: url("../images/v20_1257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1258 {
  width: 61px;
  height: 53px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1259 {
  width: 61px;
  height: 53px;
  background: url("../images/v20_1259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1260 {
  width: 61px;
  height: 53px;
  background: linear-gradient(rgba(89, 90, 92, 1), rgba(152, 154, 157, 1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1261 {
  width: 47px;
  height: 54px;
  background: url("../images/v20_1261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 19px;
  overflow: hidden;
}
.v20_1262 {
  width: 47px;
  height: 54px;
  background: url("../images/v20_1262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1263 {
  width: 47px;
  height: 54px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v20_1264 {
  width: 47px;
  height: 54px;
  background: url("../images/v20_1264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v20_1265 {
  width: 47px;
  height: 54px;
  background: linear-gradient(rgba(236, 152, 34, 1), rgba(181, 104, 40, 1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v21_2275 {
  width: 50px;
  height: 49px;
  background: url("../images/v21_2275.png");
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 535px;
  border: 3px solid rgba(231, 148, 35, 1);
}
.v21_2277 {
  width: 300px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 52px;
  left: 615px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v21_2285 {
  width: 55px;
  height: 43px;
  background: rgba(231, 148, 35, 1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 1068px;
}
.v21_2287 {
  width: 516px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 53px;
  left: 1153px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
