* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}
link {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 50px;
  background: rgba(245, 245, 245, 1);
}

.container__header {
  width: 100%;
  height: 1117px;
  margin: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/hero.png");
}
.big__logo {
  padding-top: 346px;
  padding-bottom: 435px;
  display: flex;
  justify-content: center;
}

.menu__nav--list {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
.menu__link--color {
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.what__we--do {
}
.what__we--main-text {
  padding: 50px;
  font-weight: 600;
  font-size: 64px;
}
.what__we--text {
  font-weight: 400;
  font-size: 36px;
}
.what__we--text2 {
  font-weight: 600;
  padding-bottom: 100px;
}
.icons {
  display: flex;
  flex-direction: column;
}
.icons__list {
  display: flex;
  flex-direction: row;
}
.icon__item {
  padding-top: 50px;
  padding-left: 60px;
}
.text__for--icons {
  font-weight: 400;
  font-size: 36px;
}
.container__icons {
}
.hips__photo {
  position: absolute;
  right: 0;
  top: 1175px;
}
.test {
  width: 700px;
}
.logo__polikam {
  position: absolute;
  right: 60px;
  top: 1225px;
  z-index: 1;
}
.polikam__img {
  position: absolute;
  right: 60px;
  top: 1550px;
  z-index: 1;
}
.icons__list--innovate {
  display: flex;
  flex-direction: row;
  padding-top: 62px;
}
.innovative__main--text {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 67.05px;
  font-weight: 600;
  font-size: 36px;
  padding-top: 80px;
}
.to__wrap--innovative {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.suggest__main--text {
  font-weight: 600;
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding-bottom: 77px;
}
.text__for--icons-innovate {
  font-weight: 400;
  font-size: 28px;
  display: block;
  width: 470px;
}
.icon__item--innovate {
  padding-bottom: 62px;
  padding-left: 35px;
}
.icon__item--innovate-img {
  padding-bottom: 62px;
}
.logo__innovate {
  display: flex;
  justify-content: center;
  padding-top: 148px;
  padding-bottom: 88px;
}
.innovative {
  margin-top: 85px;
  background-image: url(../images/hero.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.circle2 {
  position: absolute;
}
.circle {
  position: absolute;
  top: 255%;
  right: 12%;
}
.half__circle {
  position: absolute;
}
.hips1 {
  position: absolute;
  right: 3.4%;
  top: 325%;
}
.experience {
  padding-top: 50px;
}
.experience__main--text {
  font-weight: 600;
  font-size: 58px;
}
.experience__second--text {
  font-weight: 400;
  font-size: 40px;
  padding-top: 50px;
}
.experience__second--text:last-child {
  padding-top: none;
}
.experience__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo__experience {
  display: flex;
  align-content: center;
  align-items: center;
  padding-right: 60px;
}
.exhibition__img {
  display: flex;
  flex-direction: row;
}
.exhibition__img1 {
  height: 640px;
  width: 70%;
}
